<!DOCTYPE html>
<html>
<head>
  <title>Modern Driving Training School</title>
   {% load static %}
  {% static "img" as baseUrl %}
  <link rel="stylesheet" href="{% static 'styles/style.css' %}">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/css/bootstrap.min.css">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">
  <script src="https://code.jquery.com/jquery-3.5.1.slim.min.js" ></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"></script>
    <script src='https://kit.fontawesome.com/a076d05399.js'></script>
    <link rel="stylesheet" href="https://www.w3schools.com/w3css/4/w3.css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link href="https://stackpath.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
  <script src="https://code.jquery.com/jquery-3.5.1.js"></script>


</head>
<body >
<section id="navbar2">
<nav class="navbar2 navbar-expand-lg navbar-light ">
<div class="navbar10">

  <div class="collapse navbar-collapse" id="navbarNav" style="text-decoration: none;">
    <ul class="navbar-nav ml-auto ">
      <li class="nav-item ">
<div class="w3-padding w3-xlarge w3-text-lightgreen">
      <i class="fas fa-map-marker-alt"></i>
      SURAT</div>
      </li>
      <li class="nav-item ">
        <a href="#" class="fa fa-facebook"></a>
      </li>
       <li class="nav-item">
        <a href="#" class="fa fa-twitter"></a>
      </li>
      <li class="nav-item">
        <a href="#" class="fa fa-linkedin"></a>
      </li>
       <li class="nav-item">
        <a href="#" class="fa fa-instagram"></a>
      </li>

    </ul>
  </div></div>
</nav>

  <!-- As a link -->


<!-- As a heading -->
<!-----<nav class="navbar2 navbar-light">.navbar2{
  background-color:rgb(215,196,188);
}

  <div class="w3-padding w3-xlarge w3-text-lightgreen">
      <i class="fas fa-map-marker-alt"></i>
      <span class="navbar-brand mb-0 h1">Surat</span></div>
    <div class="collapse navbar-collapse" id="navbarNav">
<ul ml-auto>
  <li><a href="#" class="fa fa-facebook"></a></li>
  <li><a href="#" class="fa fa-twitter"></a></li>
  <li><a href="#" class="fa fa-instagram"></a></li>
</ul>
    </div>



</nav>----->

<!---<nav class="navbar navbar-expand-lg navbar-light">

  <div class="collapse navbar-collapse" id="navbarNav">
    <ul class="navbar-nav">

      <li class="nav-item">
   <div class="w3-padding w3-xlarge w3-text-orange">
    <i class="fas fa-map-marker-alt"></i>
    <a class="nav-link" href="#">SURAT</a>
     </div>
      </li>


    </ul>
  </div>







  <div class="container">

    <div class="col-md-6">


    <form>
      <br><br><br>
      <input type="text" title="your name"  color="black" class="name" name="urname" placeholder="Name of girl/women who want to join">
      <br><br>
      <input type="Mobile number" name="mnum"  title="number"required class="from-control" placeholder="+92 Enter ur Mobile number" style="width: 50%;">
      <br><br>
      <input type="textarea" class="Message" title="Message" placeholder="Message" class="from-control"><br><br>
      <select class="from-control" class="responsive" title="click" style="background-color:#f4f7f9;border-radius: 2px;
      width: 100%; padding: 4px; vertical-align: top;position: relative;height: 40px; ">

        <option selected disabled>Select state</option>
        <option>None</option>
        <option>Surat</option>
        <option>Bharuch</option>
        <option>Ahmedabad</option>
        <option>Navsari</option>
        <option>Bharuch</option>
      </select><br><br>
      <button type="submit" class="bttn" title="submit Post" class="from-control" value="Submit">Submit</button><br>
    </form>
  </div>


</nav>---->
  </section>

<!------nevigation2-------->
<section id="nav-bar">

  <nav class="navbar navbar-expand-lg navbar-light">
  <a class="navbar-brand" href="#"></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>
  <div class="collapse navbar-collapse" id="navbarNav1">
    <ul class="navbar-nav ml-auto">
      <li class="nav-item ">
        <a class="nav-link" href="#">HOME </a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#aim">PURPOSE</a>
      </li>
       <li class="nav-item">
        <a class="nav-link" href="#service1">SERVICES</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#about">ABOUT US</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="#map">CONTACT US</a>
      </li>
    </ul>
  </div>
</nav>
</section>
<!----------------slider--------------->
<br><br>

<h4 style="font-style: bold;font-weight: 50px;text-align:center;font-family: cursive;font-size: 50px;"><img src="{% static 'img/f.jpg' %}" style="height:65px;">     Modern Driving Training School</h4><br>
<br>
<h3 style="text-align: center;">Thank you for registration! </h3><br><br>
<h4 style="text-align: center;">Our team will be contact you soon. Please check you mail for more info.</h4><br><br>

<form action="https://www.google.co.in/?client=safari&channel=mac_bm">
  {% csrf_token %}
  <input type="submit" value="Click here for chat with us. Go to chatbot....Feel free to ask any Query!" name="chatbot" style="background-color: pink; border-radius: 2px;color:black;">

</form>







<!-------aim--------------->
<section id="aim">

      <div class="aim1">

          <h2 style="font-size: 26px;text-align: center;">Purpose of Our training school</h2><br>


          <p style="text-align: center;font-family:serif;font-size: 20px;padding-right: 20px;padding-left: 30px;padding-bottom: 30px;">According to current situation,it is necessary to everyone to maintain social distancing with every at least 1m.So,we have to less focus on transport traveling, in city bus,in rickshow etc.Our main aim every women and girl in our society, will be become atmnirbhar. Our training will be provide every those women and girls,to learn perfect driving and become atmnirbhar. Now, that days were end when u have to wait for a long time for bus,rickshow,etc.</p>



      </div>



</section>


<!-- Button to open the modal login form
<button onclick="document.getElementById('id01').style.display='block'">Login</button>-->

<!-- The Modal


 <h2 style="text-align:center; font-style: italic; padding-top: 25px;">Don't wait, just Click below</h2>
    <p><h1 style="font-family: serif; text-align:center;font-size: 20px;font-style: italic;"> Any type of Query just click here:</h1>
      <button class="button" data-modal="modalOne" style="text-align: center;">Enquire Now</button>
    </p>
    <p><h1 style="font-family: serif;text-align:center; font-size: 20px;font-style: italic;"> We are very excited to keep in touch with you:</h1>
      <button class="button" data-modal="modalTwo" style="text-align: center;">Contact Us</button>
    </p>
    <div id="modalOne" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <a class="close">&times;</a>
          <form action="/">
            <h2>Enquiry form</h2>
            <div>
              <input class="fname" type="text" name="name" placeholder="Full name">
              <input type="text" name="name" placeholder="Email">
              <input type="text" name="name" placeholder="Phone number">

            </div>
            <span>Message</span>
            <div>
              <textarea rows="4"></textarea>
            </div>
            <button type="submit" href="/">Submit</button>
          </form>
        </div>
      </div>
    </div>
    </div>
    <div id="modalTwo" class="modal">
      <div class="modal-content">
        <div class="contact-form">
          <span class="close">&times;</span>
          <form action="/">
            <h2>Contact form</h2>
            <div>
              <input class="fname" type="text" name="name" placeholder="Full name">
              <input type="text" name="name" placeholder="Email">
              <input type="text" name="name" placeholder="Phone number">

            </div>
            <span>Message</span>
            <div>
              <textarea rows="4"></textarea>
            </div>
            <button type="submit" href="/">Submit</button>
          </form>
        </div>
      </div>
    </div>
    <script>
      var modalBtns = [...document.querySelectorAll(".button")];
      modalBtns.forEach(function(btn){
        btn.onclick = function() {
          var modal = btn.getAttribute('data-modal');
          document.getElementById(modal).style.display = "block";
        }
      });

      var closeBtns = [...document.querySelectorAll(".close")];
      closeBtns.forEach(function(btn){
        btn.onclick = function() {
          var modal = btn.closest('.modal');
          modal.style.display = "none";
        }
      });

      window.onclick = function(event) {
        if (event.target.className === "modal") {
          event.target.style.display = "none";
        }
      }
    </script>-->





<!----service------------>

<section id="service1">
  <div class="piller">
    <h1> Services </h1>
    <div class="pers">

      <div class="pe">

          <img src="{% static 'img/8.jpg' %}" alt="">
          <div class="p-name"> Driving License</div>
          <p style="font-size: 16px;font-family: serif;">We provide you help to get your own driving license and will assure that you will get your license asap.</p>
      </div>

      <div class="pe">

          <img src="{% static 'img/9.jpg' %}" alt="">
          <div class="p-name"> Car driving </div>
          <p style="font-size: 16px;font-family: serif;">Beginners to advance courses for all kinds of cars, manual/automatic gears, left/right sided steering etc.</p>
      </div>


      <div class="pe">

          <img src="{% static 'img/10.jpg' %}" alt="">
          <div class="p-name"> RTO Training </div>
          <p style="font-size: 16px;font-family: serif;">These courses are most prominent among teens and student and thus come with emphasize on maximum safety.</p>
      </div>
    </div>
  </div>
</section>
<br>
<!-----about us------------>

<section id="about">

      <div class="content">
        <h2 style="font-size: 26px;">About us</h2><br>
        <p style="font-size: 20px;font-family: serif; margin-left: 10px;margin-right: 10px;padding-right: 20px;padding-left: 20px;padding-bottom: 20px;">We Morden Driving School at Surat offer flexible & affordable training courses to suit your timings and budgets. One big advantage of our school is, its ladies to ladies training school. Our training is flexible to fit personal commitments of our clients. We put our students at ease from the first go, which helps them to quickly build confidence. Whether it is expertise to perfect skills you already have or to simply improve your driving ability, we are your one stop solution. <br>


      </p>
      </div>

</section>
<!------map----------->


<section id="map">

  <div class="contactus">
    <div id="cbb">
      <h2 style="text-align: center;font-size: 30px;padding-top: 15px;">Contact Us</h2>
       <h4 style="text-align:center; font-style: italic; padding-top: 15px;">Don't wait, just Click below</h4>
    </div>
  </div>

  <div class="container1">

    <div class="col-md-6">
      <form action="add_form" method="post">
        {% csrf_token %}
 <label for="fname">Name of girl/women who want to join</label>
                             <input type="text" id="fname" name="name" placeholder="Full name.." required>
                     <input type="text" id="mail" name="mail" placeholder="Enter valid Email..." required><br>


                     <label for="lname">Mobile Number:</label>
                            <input type="text" id="lname" name="number" placeholder="Enter Phone no..." required><br><br>

                            <input type="number" name="age" placeholder="Enter your age" required><br><br>

    <label for="country">State</label>
             <select id="country" name="state" required>
      <option value="none">None</option>
      <option value="surat">Surat</option>
      <option value="ahbd">Ahmedabad</option>
      <option value="bharuch">Bharuch</option>
      <option value="navsari">Navsari</option>
             </select>

    <label for="subject">Message</label>
    <textarea id="subject" name="msg" placeholder="Write your message.." style="height:100px"></textarea>

    <input type="submit" value="Submit">

       </form>
    </div>

  <div class="col-md-6" class="responsive"><br><br>

    <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d15591.551345539823!2d72.78458212310423!3d21.22194651369714!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0x3be04c41347aaaab%3A0x190d9d2d79a04654!2sAcquire!5e0!3m2!1sen!2sin!4v1591092491958!5m2!1sen!2sin" width="100%" height="580px" frameborder="0" style="border:0;" allowfullscreen="" aria-hidden="false" tabindex="0"></iframe><br><br><br><br><br>

  </div>
</div>

</section>

<section id="footer">
  <div class="container2">

    <div class="footer-copyright text-center py-3"> Copyright &copy; 2020
    <a href=""> Mordern Driving Training School</a> | All Rights Reserved |
  </div>
  </div>
</section>

<script type="text/javascript">

    // When the user scrolls the page, execute myFunction
window.onscroll = function() {myFunction()};

// Get the navbar
var navbar = document.getElementById("navbar");

// Get the offset position of the navbar
var sticky = navbar.offsetTop;

// Add the sticky class to the navbar when you reach its scroll position. Remove "sticky" when you leave the scroll position
function myFunction() {
  if (window.pageYOffset >= sticky) {
    navbar.classList.add("sticky")
  } else {
    navbar.classList.remove("sticky");
  }
}

</script>



</body>
</html>